@import 'variables';
@import 'footer';
* {
  box-sizing: border-box;
}

html {
  font-family: $font__main;
  font-size: 16px;
  line-height: 25px;
}

header {
  padding: 1rem;
  color: white;
  background-color: $color-primary-3;

  h1 {

    a {
      color: $color-secondary-2-3;
      text-decoration: none;
    }
  }

  nav {
    font-family: $font__nav;
    font-weight: bolder;
    font-size: larger;
    text-transform: uppercase;

    ul {
      display: flex;
      text-align: center;
      padding: 0;

      li {
        list-style: none;
        flex: 1;
        transition: 200ms linear;
        width: 100%;

        a {
          color: white;
          letter-spacing: 2px;
          padding: 20px 5px;
          display: inline-block;
          text-decoration: none;
          text-align: center;
          width: 100%;

        }

        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          background-color: $color-primary-4;
        }
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;

  section {
  }

  .skip-link {
    display: none;
  }

  #content {
    padding-left: 0.5rem;
  }

  .inner-content-wrapper {
    display: flex;

    .wrapper {
      flex: 1;
    }

    .layout-sidebar {
      flex: 0 0 25%;
    }
  }
}

.article-content {
  h1 {
    text-transform: uppercase;
  }

  .article-edit-link {
    box-sizing: border-box;
    padding: .5rem 0.8rem;
    color: white;
    background-color: $color-secondary-1-3;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    border-radius: 5%;
    transition: ease 200ms;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-secondary-1-4;
    }

  }

  .article-body {
    padding: 0 .5rem;
  }
}

.blog-comment {
  border: 1px solid $color-complement-4;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem 0 0;
}

@media all and (max-width: 600px) {
  #nav-main {
    display: none;
  }
  #nav-main.active {
    display: block;
  }
  nav {
    ul {
      flex-direction: column;

      li {
        flex: 1 1 50%;
      }
    }
  }
  body {
    .inner-content-wrapper {
      flex-direction: column;
    }
  }
}
